---
Monitored web sites:
  monedo:
    url: 'https://www.monedo.com/'
    # number of seconds between polling website. It's highly recommended that
    # this time is at least 10x smaller than fetch time for paired service - db publisher
    request sleep: 6
    expected text: '<h1.*?>Monedo is where the best finance and tech brains come together</h1>'

Metrics endpoint:
  Aiven:
    Kafka:
      host: ''
      port:
      topic:
