---
Monitored web sites:
  monedo:
    url: ''
    # number of seconds between polling website. It's highly recommended that
    # this time is at least 10x smaller than fetch time for paired service - db publisher
    request sleep: 6
    expected text: ''

Metrics endpoint:
  Aiven:
    Project:
      name:
    Kafka:
      host: ''
      port:
      topic:
